body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

section {
    margin-bottom: 20px;
}

.date {
    background-color: #f0f0f0;
    padding: 8px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.summary {
    background-color: #f0f0f0;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.content {
    display: none;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.added, .fixed, .deprecated, .removed {
    padding: 8px;
    margin-left: 20px;
    background-color: inherit;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: 5px;
}

.added li, .fixed li, .deprecated li, .removed li {
    background-color: inherit;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.added li {
    background-color: #d4edda;
}

.fixed li {
    background-color: #cce5ff;
}

.deprecated li {
    background-color: #fff3cd;
}

.removed li {
    background-color: #f8d7da;
}

.description {
    background-color: #f0f0f0;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}
